.title {
    padding: 4px 4px 4px 4px;
    border: blue 1px solid;
    width: 100px;
    border-radius: 3px;
}
.content {
    padding: 4px 4px 4px 4px;
    width: 50%;
    border: steelblue 3px solid;
    border-radius: 3px;
    display: none;
}
.active {
    display: block;
}