.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_title {
  display: flex;
}
.container_input {
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-style {
  border: 4px solid aquamarine;
  background-color: rgb(225, 252, 237);
  border-radius: 3px;
}
.btn-style {
  height: 40px;
  width: 75px;
  margin-left: 10px;
  margin-right: 0px;
  background-color: aquamarine;
}
.input-style-mod {
  width: 711px;
  height: 30px;
}
.list_item {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  border: 3px solid aquamarine;
  background-color: rgb(225, 252, 237);
  padding: 3px;
  width: 800px;
  list-style-type: decimal;
}
.list-style {
  padding: 0px;
  margin: 0px;
}
.completed {
  text-decoration: inherit;
  background-color:  rgb(197, 247, 212);
  border-color: rgb(20, 250, 58);
}
